@charset "utf-8";

@import "../../node_modules/bulma/sass/utilities/initial-variables";

$family-sans-serif: 'IBM Plex Mono', monospace;
$primary: rgb(78, 0, 255);
$body-background-color: $black;

@import "../../node_modules/bulma/bulma";

iframe {
  width: 100%;
  height: 540px;
}


.has-underline {
  text-decoration: underline;
  text-decoration-color: $primary;
  text-decoration-thickness: 5px;
  text-underline-offset: 8px;
}

.page {
  display: none;
}

.link-underline {
  color: $grey-light;
  font-weight: 800;
  text-decoration: underline;
  text-decoration-color: $primary;
  text-decoration-thickness: 5px;
  text-underline-offset: 8px;

  &:hover {
    color: $grey-lightest;
  }
}

p {
  .has-underline {
    text-decoration-thickness: 3px;
    text-underline-offset: 4px;
  }
}

pre {
  color: $grey-light;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  overflow-x: scroll;
  max-width: 100%;
  min-width: 100px;
  background-color: #00000000;
  code {
    background-color: #5c00ff26;
    font-size: 1.1em;
    font-weight: 800;
    padding: 10px;
  }
}


